/*
 * Theme-specific style overrides for this application.
 */

/* #region ---------------------------------------------------------------- Global element styles */

/* Tooltip custom styles */
.nf-light {
  --tooltip-bg: var(--mantine-color-gray-7);
}
.nf-light .mantine-Tooltip-tooltip b {
  font-weight: 600;
  color: var(--mantine-color-teal-3);
}
.nf-dark .mantine-Tooltip-tooltip b {
  font-weight: 700;
  color: var(--mantine-color-teal-9);
}

/* Switch track styles */
.nf-light .mantine-Switch-track {
  background-color: var(--mantine-color-blue-5);
}
.nf-dark .mantine-Switch-track {
  background-color: var(--mantine-color-blue-8);
}

/* Watermark */
.mantine-AppShell-navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  pointer-events: none;
  z-index: 0;
}
.nf-light .mantine-AppShell-navbar::before {
  background-image: url('images/watermark-colors.svg');
  opacity: 0.3;
}
.nf-dark .mantine-AppShell-navbar::before {
  background-image: url('images/watermark-white.svg');
  opacity: 0.2;
}

/* #endregion */

/* #region ----------------------------------------------------------- Table and datatable styles */

/* Table cell styles */
.mantine-Table-td p,
.mantine-Table-td a {
  font-size: 0.95rem;
}

/* Default header and footer styles */
.mantine-Table-th {
  font-weight: 600;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

/* Table header and footer colors */
.nf-light .mantine-Table-thead,
.nf-light .mantine-Table-tfoot {
  color: #3e4a1c;
  background-color: #f8ffee;
}
.nf-dark .mantine-Table-thead,
.nf-dark .mantine-Table-tfoot {
  color: #a4ac8c;
  background-color: #2e302b;
}

/* Boolean icon styles */
.nf-light .nf-boolean-icon.nf-boolean-true {
  color: var(--mantine-color-teal-6);
}
.nf-light .nf-boolean-icon.nf-boolean-false {
  color: var(--mantine-color-red-6);
}
.nf-dark .nf-boolean-icon.nf-boolean-true {
  color: var(--mantine-color-green-4);
}
.nf-dark .nf-boolean-icon.nf-boolean-false {
  color: var(--mantine-color-red-4);
}

.nf-dark .nf-emphasis {
  color: var(--mantine-color-green-3);
  background-color: #4d6d4d30 !important;
}
.nf-light .nf-emphasis {
  color: var(--mantine-color-green-9);
  background-color: #68b86820 !important;
}

/* Background styles for view 'empresas' */
.mantine-Table-table .empresas-2 p {
  opacity: 0.5;
}
.nf-light .mantine-Table-table .empresas-1 td {
  background-color: #d4edda80;
}
.nf-light .mantine-Table-table .empresas-3 td {
  background-color: #edd4d480;
}
.nf-dark .mantine-Table-table .empresas-1 td {
  background-color: #12421d30;
}
.nf-dark .mantine-Table-table .empresas-3 td {
  background-color: #3f1c1c80;
}

/* Wrapper (badge) styles */
.mantine-Badge-root.nf-success {
  background-color: var(--mantine-color-teal-8);
}
.mantine-Badge-root.nf-default {
  background-color: var(--mantine-color-gray-7);
}
.mantine-Badge-root.nf-error {
  background-color: var(--mantine-color-red-6);
}

/* Action button styles */
.nf-light .nf-actions-toolbar .nf-warning {
  color: var(--mantine-color-red-7);
}
.nf-dark .nf-actions-toolbar .nf-warning {
  color: var(--mantine-color-red-5);
}

tr .nf-actions-toolbar {
  opacity: 0;
  transition: opacity 80ms ease;
}
tr:hover .nf-actions-toolbar {
  opacity: 1;
  transition: opacity 0s;
}


/* #endregion */

/* #region ------------------------------------------------------------------ Form element styles */

/* Text button styles */
.nf-light .mantine-Button-root.nf-Button-filled {
  background-color: var(--mantine-color-teal-5);
}
.nf-dark .mantine-Button-root.nf-Button-filled {
  background-color: var(--mantine-color-teal-8);
}

/* Read-only field styles */
.nf-light .nf-readonly input {
  background-color: #7585aa50;
}
.nf-dark .nf-readonly input {
  background-color: #4d5d8050;
}

/* Accordion form element styles */
.mantine-Accordion-control {
  margin-bottom: 0;
  transition: margin-bottom 200ms ease;
}
[data-active=true] .mantine-Accordion-control {
  margin-bottom: 1em;
}
.mantine-Accordion-label {
  font-weight: 600;
}
.nf-open .mantine-Accordion-label {
  padding-left: 0;
  transition: padding-left 200ms ease;
}
.nf-open .mantine-Accordion-control:hover .mantine-Accordion-label {
  padding-left: 16px;
}
.nf-light .mantine-Accordion-control {
  border-bottom: 1px solid var(--mantine-color-gray-3);
}
.nf-dark .mantine-Accordion-control {
  border-bottom: 1px solid var(--mantine-color-gray-8);
}

/* #endregion */